.navLink {
  display: inline-block;
  margin-right: 4.1rem;
  font-size: 1.2rem;
  color: white;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.navLink:hover {
  color: rgb(226, 226, 226);
}
