.callout_container {
  display: flex;
}

.callout_container h4 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.callout_item {
  padding-right: 4.25rem;
}
.callout_container p {
  color: white;
}

.saperator {
  height: 9rem;
  border: 1px solid rgba(192, 183, 232, 0.33);
  width: 0;
}
