.container {
  background: #211e2e;
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 160px;
  background: linear-gradient(
      0deg,
      rgba(48, 44, 66, 0.79),
      rgba(48, 44, 66, 0.79)
    ),
    url(/images/background.svg);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chevron_container {
  background: rgba(14, 14, 14, 0.32);
  height: 100px;
  width: 100px;
  border-radius: 100px;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
