@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #373163;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-transform: capitalize;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}
h1 {
  font-size: 4.6rem;
  line-height: 5.6rem;
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 3.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.action {
  margin-top: 2.6rem;
  display: flex;
  align-items: center;
}

h4.light {
  font-weight: 400;
}
